/.cache
/.git
/auto-save-list
/desktop-sessions
/eclipse.jdt.ls
/eln-cache
/elpa
/eshell
/flnkf
/games
/image-dired
/melpa
/java-lts
/prescient
/transient
/tree-sitter
/workspace

/my-emacs-config/functions/tetris.el
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
flnkf-file.txt
forge-database.sqlite
projectile-bookmarks.eld
projects
history
recentf
tramp
