/.cache
/.git
/auto-save-list
/desktop-sessions
/eclipse.jdt.ls
/eln-cache
/elpa
/games
/melpa
/java-lts
/transient
/tree-sitter
/workspace
/flnkf

/my-emacs-config/functions/tetris.el
macro_example.el
forge-database.sqlite
projectile-bookmarks.eld
projects
.mc-lists.el
.lsp-session-v1
history
recentf
flnkf-file.txt
